<%- include("./partials/layout-start", {title: title}) %>
<%- include("./partials/menu") %>
<h1><%= title %></h1>

<div class="col-sm-8">

                <p class="card-text"><%= username %></p>
                <p class="card-text"><%= id %></p>

               
    <div class="form-group text-left ">
        <a class="btn btn-sm btn-primary" href="/library/logout">
            Выйти
        </a>
    </div>

</div>


<%- include("./partials/layout-end") %>